<a href="https://colab.research.google.com/github/doo52oh/BOJ-problem-solving/blob/main/%EB%8B%A8%EA%B3%84%EB%B3%84%EB%A1%9C%20%ED%92%80%EC%96%B4%EB%B3%B4%EA%B8%B0/BOJ_1%EB%8B%A8%EA%B3%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [BOJ 단계별로 풀어보기](https://www.acmicpc.net/step)
### [1단계 : 입출력과 사칙연산](https://www.acmicpc.net/step/1)

설명 : 입력, 출력과 사칙연산을 연습해 봅시다. Hello World!

#### 1-1 
문제번호 : 2557  
제목 : Hello World  
문제 : Hello World!를 출력하시오.  
입력 : 없음  
출력 : Hello World!를 출력하시오.

In [2]:
print("Hello World!")

Hello World!

#### 1-2 
문제번호 : 10718  
제목 : We love kriii  
문제 : ACM-ICPC 인터넷 예선, Regional, 그리고 World Finals까지 이미 2회씩 진출해버린 kriii는 미련을 버리지 못하고 왠지 모르게 올해에도 파주 World Finals 준비 캠프에 참여했다.  
대회를 뜰 줄 모르는 지박령 kriii를 위해서 격려의 문구를 출력해주자.  
입력 : 없음  
출력 : 두 줄에 걸쳐 "강한친구 대한육군"을 한 줄에 한 번씩 출력한다.

In [3]:
for i in range(2):
  print("강한친구 대한육군")

강한친구 대한육군
강한친구 대한육군

#### 1-3
문제번호 : 10171  
제목 : 고양이   
문제 : 아래 예제와 같이 고양이를 출력하시오.
입력 : 없음  
출력 : 고양이를 출력한다.  
\    /\  
 )  ( ')  
(  /  )  
 \(__)|

In [9]:

# BOJ 제출코드
# print("""\\    /\\
#  )  ( ')
# (  /  )
#  \\(__)|""")

print("""
\\    /\\
 )  ( ')
(  /  )
 \\(__)|""")

\    /\
 )  ( ')
(  /  )
 \(__)|

#### 1-4
문제번호 : 10172   
제목 : 개     
문제 : 아래 예제와 같이 개를 출력하시오.  
입력 : 없음  
출력 : 개를 출력한다.  
|\_/|  
|q p|   /}  
( 0 )"""\  
|"^"`    |  
||_/=\\__|

In [16]:
b = '''|\\_/|
|q p|   /}
( 0 )"""\\
|"^"`    |
||_/=\\\\__|'''
print(b)

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

#### 1-5
문제번호 : 1000   
제목 : A+B     
문제 : 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.  
입력 : 첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)  
출력 : 첫째 줄에 A+B를 출력한다.  

예제 입력 : 1 2  
예제 출력 : 3

In [17]:
a, b = map(int, input().split())
print(a+b)

1 2
3

#### 1-6
문제번호 : 1001   
제목 : A-B     
문제 : 두 정수 A와 B를 입력받은 다음, A-B를 출력하는 프로그램을 작성하시오.
입력 : 첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)  
출력 : 첫째 줄에 A-B를 출력한다.  

예제 입력 : 3 2  
예제 출력 : 1

In [19]:
a, b = map(int, input().split())
print(a-b)

3 2
1

#### 1-7
문제번호 : 10998   
제목 : 	A×B      
문제 : 두 정수 A와 B를 입력받은 다음, A×B를 출력하는 프로그램을 작성하시오.
입력 : 첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)  
출력 : 첫째 줄에 A×B를 출력한다.   

예제 입력 : 3 2  
예제 출력 : 6

In [21]:
a, b = map(int, input().split())
print(a*b)

3 5
15

#### 1-8
문제번호 : 10998   
제목 : 	A/B      
문제 : 두 정수 A와 B를 입력받은 다음, A/B를 출력하는 프로그램을 작성하시오.  
입력 : 첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)  
출력 : 첫째 줄에 A/B를 출력한다. 실제 정답과 출력값의 절대오차 또는 상대오차가 10-9 이하이면 정답이다.   

예제 입력 : 4 2  
예제 출력 : 2

In [23]:
a, b = map(int, input().split())
print(a/b)

1 3
0.3333333333333333

#### 1-9
문제번호 : 10869    
제목 : 	사칙연산      
문제 : 두 자연수 A와 B가 주어진다. 이때, A+B, A-B, A*B, A/B(몫), A%B(나머지)를 출력하는 프로그램을 작성하시오.   
입력 : 두 자연수 A와 B가 주어진다. (1 ≤ A, B ≤ 10,000)  
출력 : 첫째 줄에 A+B, 둘째 줄에 A-B, 셋째 줄에 A*B, 넷째 줄에 A/B, 다섯째 줄에 A%B를 출력한다.   

예제 입력 : 7 3   
예제 출력 :   
10  
4  
21  
2  
1

In [25]:
a, b = map(int, input().split())
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)

7 3
10
4
21
2
1

#### 1-10
문제번호 : 10926    
제목 : 	??!      
문제 : 준하는 사이트에 회원가입을 하다가 joonas라는 아이디가 이미 존재하는 것을 보고 놀랐다. 준하는 놀람을 ??!로 표현한다. 준하가 가입하려고 하는 사이트에 이미 존재하는 아이디가 주어졌을 때, 놀람을 표현하는 프로그램을 작성하시오.   
입력 : 첫째 줄에 준하가 가입하려고 하는 사이트에 이미 존재하는 아이디가 주어진다. 아이디는 알파벳 소문자로만 이루어져 있으며, 길이는 50자를 넘지 않는다.  
출력 : 첫째 줄에 준하의 놀람을 출력한다. 놀람은 아이디 뒤에 ??!를 붙여서 나타낸다.   

예제 입력 : joonas   
예제 출력 : joonas??!

In [34]:
a = str(input())
print(a+"??!")

joonas
joonas??!

#### 1-11
문제번호 : 18108    
제목 : 	1998년생인 내가 태국에서는 2541년생?!      
문제 : ICPC Bangkok Regional에 참가하기 위해 수완나품 국제공항에 막 도착한 팀 레드시프트 일행은 눈을 믿을 수 없었다. 공항의 대형 스크린에 올해가 2562년이라고 적혀 있던 것이었다.

불교 국가인 태국은 불멸기원(佛滅紀元), 즉 석가모니가 열반한 해를 기준으로 연도를 세는 불기를 사용한다. 반면, 우리나라는 서기 연도를 사용하고 있다. 불기 연도가 주어질 때 이를 서기 연도로 바꿔 주는 프로그램을 작성하시오.  
입력 : 서기 연도를 알아보고 싶은 불기 연도 y가 주어진다. (1000 ≤ y ≤ 3000)   
출력 : 불기 연도를 서기 연도로 변환한 결과를 출력한다.   

예제 입력 : 2541   
예제 출력 : 1998

In [37]:
a = int(input())
print(a-543)

2541
1998

#### 1-12
문제번호 : 10430    
제목 : 	나머지      
문제 :   
(A+B)%C는 ((A%C) + (B%C))%C 와 같을까?

(A×B)%C는 ((A%C) × (B%C))%C 와 같을까?

세 수 A, B, C가 주어졌을 때, 위의 네 가지 값을 구하는 프로그램을 작성하시오.  

입력 : 첫째 줄에 A, B, C가 순서대로 주어진다. (2 ≤ A, B, C ≤ 10000)   
출력 : 첫째 줄에 (A+B)%C, 둘째 줄에 ((A%C) + (B%C))%C, 셋째 줄에 (A×B)%C, 넷째 줄에 ((A%C) × (B%C))%C를 출력한다.  

예제 입력 : 5 8 4  
예제 출력 :   
1  
1  
0  
0

In [38]:
a, b, c = map(int, input().split())
print((a+b)%c)
print(((a%c)+(b%c))%c)
print((a*b)%c)
print(((a%c)*(b%c))%c)

5 8 4
1
1
0
0

#### 1-13
문제번호 : 2588    
제목 : 	곱셈      
문제 :   
((세 자리 수) × (세 자리 수)는 다음과 같은 과정을 통하여 이루어진다.

![image.png]()

(1)과 (2)위치에 들어갈 세 자리 자연수가 주어질 때 (3), (4), (5), (6)위치에 들어갈 값을 구하는 프로그램을 작성하시오.  

입력 : 첫째 줄에 (1)의 위치에 들어갈 세 자리 자연수가, 둘째 줄에 (2)의 위치에 들어갈 세자리 자연수가 주어진다.   
출력 : 첫째 줄부터 넷째 줄까지 차례대로 (3), (4), (5), (6)에 들어갈 값을 출력한다.  

예제 입력 :  
472  
385  
예제 출력 :   
2360  
3776  
1416  
181720

In [40]:
a = int(input())
b = int(input())
print(a*(b%10))
print(a*((b//10)%10))
print(a*(b//100))
print(a*b)

472
385
2360
3776
1416
181720