<a href="https://colab.research.google.com/github/dwonn201/BOJ-problem-solving/blob/main/%EB%8B%A8%EA%B3%84%EB%B3%84%EB%A1%9C%20%ED%92%80%EC%96%B4%EB%B3%B4%EA%B8%B0/BOJ_3%EB%8B%A8%EA%B3%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [BOJ 단계별로 풀어보기](https://www.acmicpc.net/step)
### 단계별로 풀어보기 3단계 : [FOR문](https://www.acmicpc.net/step/3)

설명 : for문을 사용해 봅시다.

#### 3-1 
문제번호 : 	2739  
제목 : 	구구단  
문제 : N을 입력받은 뒤, 구구단 N단을 출력하는 프로그램을 작성하시오. 출력 형식에 맞춰서 출력하면 된다.   
입력 : 첫째 줄에 N이 주어진다. N은 1보다 크거나 같고, 9보다 작거나 같다.  
출력 : 출력형식과 같게 N * 1부터 N * 9까지 출력한다.

In [2]:
a = int(input())

for n in range(1,10):
  print(a, "*", n, "=", a*n)

9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

#### 3-2 
문제번호 : 	10950  
제목 : 		A+B - 3   
문제 : 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.  
입력 : 첫째 줄에 테스트 케이스의 개수 T가 주어진다.  
각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)  
출력 : 각 테스트 케이스마다 A+B를 출력한다.

In [3]:
num = int(input()) # 테스트 케이스의 개수 T

for n in range(num):
  a, b = map(int, input().split())
  print(a+b)

5
1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

#### 3-3 
문제번호 : 	8393  
제목 : 		합   
문제 : n이 주어졌을 때, 1부터 n까지 합을 구하는 프로그램을 작성하시오.  
입력 : 첫째 줄에 n (1 ≤ n ≤ 10,000)이 주어진다.  
출력 : 1부터 n까지 합을 출력한다.

In [8]:
n = int(input())
a = 0
for i in range(1,n+1):
  a += i

print(a)

10
55

#### 3-4 
문제번호 : 	15552  
제목 : 		빠른 A+B   
문제 :   
본격적으로 for문 문제를 풀기 전에 주의해야 할 점이 있다. 입출력 방식이 느리면 여러 줄을 입력받거나 출력할 때 시간초과가 날 수 있다는 점이다.

C++을 사용하고 있고 cin/cout을 사용하고자 한다면, cin.tie(NULL)과 sync_with_stdio(false)를 둘 다 적용해 주고, endl 대신 개행문자(\n)를 쓰자. 단, 이렇게 하면 더 이상 scanf/printf/puts/getchar/putchar 등 C의 입출력 방식을 사용하면 안 된다.

Java를 사용하고 있다면, Scanner와 System.out.println 대신 BufferedReader와 BufferedWriter를 사용할 수 있다. BufferedWriter.flush는 맨 마지막에 한 번만 하면 된다.

Python을 사용하고 있다면, input 대신 sys.stdin.readline을 사용할 수 있다. 단, 이때는 맨 끝의 개행문자까지 같이 입력받기 때문에 문자열을 저장하고 싶을 경우 .rstrip()을 추가로 해 주는 것이 좋다.

또한 입력과 출력 스트림은 별개이므로, 테스트케이스를 전부 입력받아서 저장한 뒤 전부 출력할 필요는 없다. 테스트케이스를 하나 받은 뒤 하나 출력해도 된다.

자세한 설명 및 다른 언어의 경우는 이 글에 설명되어 있다.

이 블로그 글에서 BOJ의 기타 여러 가지 팁을 볼 수 있다.

입력 : 첫 줄에 테스트케이스의 개수 T가 주어진다. T는 최대 1,000,000이다. 다음 T줄에는 각각 두 정수 A와 B가 주어진다. A와 B는 1 이상, 1,000 이하이다.    
출력 : 1부터 n까지 합을 출력한다.

In [10]:
import sys

T =  int(input()) # Test Case

for i in range(T):
  a, b = map(int, sys.stdin.readline().split())
  print(a+b)

3

ValueError: ignored

#### 3-5 
문제번호 : 	2741  
제목 : 		N 찍기   
문제 :자연수 N이 주어졌을 때, 1부터 N까지 한 줄에 하나씩 출력하는 프로그램을 작성하시오.  
입력 : 첫째 줄에 100,000보다 작거나 같은 자연수 N이 주어진다.  
출력 : 첫째 줄부터 N번째 줄 까지 차례대로 출력한다.

In [12]:
T = int(input())

for i in range(1,T+1):
  print(i)

5
1
2
3
4
5

#### 3-6 
문제번호 : 	2742  
제목 : 		기찍 N    
문제 :자연수 N이 주어졌을 때, N부터 1까지 한 줄에 하나씩 출력하는 프로그램을 작성하시오.  
입력 : 첫째 줄에 100,000보다 작거나 같은 자연수 N이 주어진다.  
출력 : 첫째 줄부터 N번째 줄 까지 차례대로 출력한다.

In [14]:
T = int(input())

for i in range(T):
  print(T-i)

5
5
4
3
2
1

#### 3-7 
문제번호 : 	11021  
제목 : 		A+B - 7     
문제 : 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.  
입력 :   
첫째 줄에 테스트 케이스의 개수 T가 주어진다.  
각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)   
출력 : 각 테스트 케이스마다 "Case #x: "를 출력한 다음, A+B를 출력한다. 테스트 케이스 번호는 1부터 시작한다.

In [18]:
import sys

T = int(input()) # Test Case

for i in range(T):
  #a, b = map(int,input().split())
  a, b = map(int, sys.stdin.readline().split())
  x = i+1
  print("Case #"+str(x)+":", a+b)

3
1 1
Case #1: 2
2 2
Case #2: 4
3 3
Case #3: 6

#### 3-8 
문제번호 : 	11022  
제목 : 		A+B - 8     
문제 : 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.  
입력 :   
첫째 줄에 테스트 케이스의 개수 T가 주어진다.  
각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)   
출력 :   
각 테스트 케이스마다 "Case #x: A + B = C" 형식으로 출력한다.   
x는 테스트 케이스 번호이고 1부터 시작하며, C는 A+B이다.

In [19]:
import sys

T = int(input()) # Test Case

for i in range(T):
  #a, b = map(int,input().split())
  a, b = map(int, sys.stdin.readline().split())
  x = i+1
  print("Case #"+str(x)+":", a, "+", b, "=", a+b)

3
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5
5 2
Case #3: 5 + 2 = 7

#### 3-9 
문제번호 : 	2438  
제목 : 		별 찍기 - 1     
문제 : 첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제  
입력 :   
첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.  
출력 :   
첫째 줄부터 N번째 줄까지 차례대로 별을 출력한다.

In [21]:
T = int(input())

for i in range(1, T+1):
  print("*"*i)

3
*
**
***

#### 3-10 
문제번호 : 	2439  
제목 : 		별 찍기 - 2     
문제 : 첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제  
하지만, 오른쪽을 기준으로 정렬한 별(예제 참고)을 출력하시오.  

입력 :   
첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.  
출력 :   
첫째 줄부터 N번째 줄까지 차례대로 별을 출력한다.  

예제 입력 
5
예제 출력
```
    *
   **
  ***
 ****
*****
```

In [27]:
T = int(input())

for i in range(1, T+1):
  print(" "*(T-i)+ "*"*i)

5
,,,,*
,,,**
,,***
,****
*****

#### 3-11 
문제번호 : 	10871  
제목 : 	X보다 작은 수     
문제 :  
정수 N개로 이루어진 수열 A와 정수 X가 주어진다.   
이때, A에서 X보다 작은 수를 모두 출력하는 프로그램을 작성하시오.  

입력 :   
첫째 줄에 N과 X가 주어진다. (1 ≤ N, X ≤ 10,000)  
둘째 줄에 수열 A를 이루는 정수 N개가 주어진다. 주어지는 정수는 모두 1보다 크거나 같고, 10,000보다 작거나 같은 정수이다.  

출력 :   
X보다 작은 수를 입력받은 순서대로 공백으로 구분해 출력한다.   
X보다 작은 수는 적어도 하나 존재한다.

In [40]:
N, X = map(int, input().split())
A = list(map(int, input().split()))
n = []

for i in range(N):
  if A[i] < X:
    #print(A[i])
    n.append(str(A[i]))
print(" ".join(n))

10 5
1 10 4 9 2 3 8 5 7 6
1
4
2
3
1 4 2 3